.fill-chart {
    background: linear-gradient(-135deg, #1de9b6, #1dc4e9) !important;
    color: #fff !important;
    h3 {
        font-size: 3rem !important;
    }
    .myfa {
        font-size: 4rem !important;
    }
}

.nt-chart-box {
    margin: .5rem;
    padding: 1.25rem 1rem;
    background-color: #fff;
    color: #111;
}

.ch-title {
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.ch-title::after {
    content: "";
    background-color: #04a9f5;
    position: absolute;
    left: -14px;
    top: 0;
    width: 4px;
    height: 20px;
}

.ch-body {
    padding: 0 .5rem;
    h3 {
        font-weight: 300;
        font-size: 26px;
        line-height: 1.2;
        align-items: center;
        display: flex;
        .myfa {
            //color: #1de9b6;
            font-size: 2.5rem;
        }
    }
    b {
        align-items: center;
        display: flex;
    }
}

.ch-prpgress {
    padding: .5rem;
}

.full-width-chart {
    //margin: 1rem 2.5rem !important;
    margin: 1rem  1.5rem !important;
    padding: 1rem !important;
    position: relative;
    background-color: #fff;
    max-width: calc(100% - 3rem) !important;
    .buttons {
        min-width: 310px;
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 0;
    }
    .buttons button {
        cursor: pointer;
        border: 1px solid silver;
        border-right-width: 0;
        background-color: #f8f8f8;
        font-size: 1rem;
        padding: 0.5rem;
        outline: none;
        transition-duration: 0.3s;
    }
    .buttons button:first-child {
        border-top-left-radius: 0.3em;
        border-bottom-left-radius: 0.3em;
    }
    .buttons button:last-child {
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        border-right-width: 1px;
    }
    .buttons button:hover {
        color: white;
        background-color: #333f54;
        outline: none;
    }
    .buttons button.active {
        background: linear-gradient(-135deg, #1de9b6, #1dc4e9) !important;
        color: white;
    }
    .highcharts-credits {
        display: none;
    }
}

.highcharts-credits {
    display: none !important;
}

.highcharts-description {
    background-color: $primary-color;
    color: #fff;
    padding: .75rem;
}