//Here we determine all the colors
$primary-color: #3f4d67 !important;
$secondary-color: #6c757d !important; //page , body color
$success-color: #1dc4e9 !important;
$danger-color:#dc3545 !important;
$light-color:#f8f9fa !important;
$dark-color:#121212 !important;
$muted-color:#171717 !important;
$white-color:#fff !important;
$warning-color:#ffc107 !important;
$gray-color:#f5f5f5;
$transation: all .5s;
$opacity: 87%;
$opacity-bold:95%;
$dashboard-width:265px;
$linear-gradient: linear-gradient(-135deg, #1de9b6, #1dc4e9) !important;