html,
body {
    margin: 0px !important;
    padding: 0px !important;
    transition: $transation;
    font-family: Open Sans, sans-serif !important;
    font-size: 14px;
    color: #888;
    font-weight: 400;
    background: #f4f7fa;
    position: relative;
    text-align: left;
    margin-bottom: 50px;
    //min-width: 768px;
}

.main-layout {
    width: calc(100% - #{$dashboard-width});
    margin-left: $dashboard-width;
    padding-bottom: 3rem;
    padding-top: 2rem;
    @media only screen and (max-width: 768px) {
        width: 100%;
        margin-left: 0;
    }
    .row {
        margin: 0;
        padding: 0;
    }
}